*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: rgb(0, 0, 0);
  background: hsl(0, 0%, 15%);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.drag-bar {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
